src/main/webapp/wsdl/soapservices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapServicesImpService" targetNamespace="http://soap.frontend/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.frontend/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://soap.frontend/" schemaLocation="soapservices_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="reservarSombrinhaResponse">
    <wsdl:part name="parameters" element="tns:reservarSombrinhaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarReservasResponse">
    <wsdl:part name="parameters" element="tns:listarReservasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarSombrinha">
    <wsdl:part name="parameters" element="tns:cancelarSombrinha">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarReservas">
    <wsdl:part name="parameters" element="tns:listarReservas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reservarSombrinha">
    <wsdl:part name="parameters" element="tns:reservarSombrinha">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarSombrinhaResponse">
    <wsdl:part name="parameters" element="tns:cancelarSombrinhaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarSombrinhas">
    <wsdl:part name="parameters" element="tns:listarSombrinhas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarSombrinhasResponse">
    <wsdl:part name="parameters" element="tns:listarSombrinhasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapServices">
    <wsdl:operation name="reservarSombrinha">
      <wsdl:input name="reservarSombrinha" message="tns:reservarSombrinha">
    </wsdl:input>
      <wsdl:output name="reservarSombrinhaResponse" message="tns:reservarSombrinhaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarSombrinha">
      <wsdl:input name="cancelarSombrinha" message="tns:cancelarSombrinha">
    </wsdl:input>
      <wsdl:output name="cancelarSombrinhaResponse" message="tns:cancelarSombrinhaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarSombrinhas">
      <wsdl:input name="listarSombrinhas" message="tns:listarSombrinhas">
    </wsdl:input>
      <wsdl:output name="listarSombrinhasResponse" message="tns:listarSombrinhasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservas">
      <wsdl:input name="listarReservas" message="tns:listarReservas">
    </wsdl:input>
      <wsdl:output name="listarReservasResponse" message="tns:listarReservasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServicesImpServiceSoapBinding" type="tns:SoapServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reservarSombrinha">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reservarSombrinha">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reservarSombrinhaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarSombrinha">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarSombrinha">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarSombrinhaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarSombrinhas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarSombrinhas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarSombrinhasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarReservas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarReservasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapServicesImpService">
    <wsdl:port name="SoapServicesImpPort" binding="tns:SoapServicesImpServiceSoapBinding">
      <soap:address location="http://localhost:8080/CD_Project"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
