src/main/webapp/wsdl/soapservices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapServicesImpService" targetNamespace="http://soap.frontend/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.frontend/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.frontend/" version="1.0" xmlns:tns="http://soap.frontend/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Booking" type="tns:booking"/>
  <xs:element name="ReserveShadowResponse" type="tns:ReserveShadowResponse"/>
  <xs:element name="Service" type="tns:service"/>
  <xs:element name="User" type="tns:user"/>
  <xs:element name="cancelarSombrinha" type="tns:cancelarSombrinha"/>
  <xs:element name="cancelarSombrinhaResponse" type="tns:CancelarSombrinhaResponse"/>
  <xs:element name="listarReservas" type="tns:listarReservas"/>
  <xs:element name="listarReservasResponse" type="tns:listarReservasResponse"/>
  <xs:element name="listarSombrinhas" type="tns:listarSombrinhas"/>
  <xs:element name="listarSombrinhasResponse" type="tns:listarSombrinhasResponse"/>
  <xs:element name="login" type="tns:login"/>
  <xs:element name="loginResponse" type="tns:loginResponse"/>
  <xs:element name="registarUtilizador" type="tns:registarUtilizador"/>
  <xs:element name="registarUtilizadorResponse" type="tns:registarUtilizadorResponse"/>
  <xs:element name="reservarSombrinha" type="tns:reservarSombrinha"/>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarSombrinha">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:booking"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="beachId" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element name="endingTime" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="serviceId" type="xs:string"/>
      <xs:element name="startTime" type="xs:int"/>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarSombrinhaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReservas">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReservasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:booking"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registarUtilizador">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registarUtilizadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservarSombrinha">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:booking"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReserveShadowResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSombrinhas">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:booking"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSombrinhasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:service"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="service">
    <xs:sequence>
      <xs:element minOccurs="0" name="beachId" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="nbrOfSeats" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reservarSombrinhaResponse" nillable="true" type="tns:ReserveShadowResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="reservarSombrinhaResponse">
    <wsdl:part name="parameters" element="tns:reservarSombrinhaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarReservasResponse">
    <wsdl:part name="parameters" element="tns:listarReservasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarSombrinha">
    <wsdl:part name="parameters" element="tns:cancelarSombrinha">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarReservas">
    <wsdl:part name="parameters" element="tns:listarReservas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registarUtilizador">
    <wsdl:part name="parameters" element="tns:registarUtilizador">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarSombrinhaResponse">
    <wsdl:part name="parameters" element="tns:cancelarSombrinhaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reservarSombrinha">
    <wsdl:part name="parameters" element="tns:reservarSombrinha">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registarUtilizadorResponse">
    <wsdl:part name="parameters" element="tns:registarUtilizadorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarSombrinhas">
    <wsdl:part name="parameters" element="tns:listarSombrinhas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarSombrinhasResponse">
    <wsdl:part name="parameters" element="tns:listarSombrinhasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapServices">
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarSombrinha">
      <wsdl:input name="cancelarSombrinha" message="tns:cancelarSombrinha">
    </wsdl:input>
      <wsdl:output name="cancelarSombrinhaResponse" message="tns:cancelarSombrinhaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservas">
      <wsdl:input name="listarReservas" message="tns:listarReservas">
    </wsdl:input>
      <wsdl:output name="listarReservasResponse" message="tns:listarReservasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registarUtilizador">
      <wsdl:input name="registarUtilizador" message="tns:registarUtilizador">
    </wsdl:input>
      <wsdl:output name="registarUtilizadorResponse" message="tns:registarUtilizadorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarSombrinha">
      <wsdl:input name="reservarSombrinha" message="tns:reservarSombrinha">
    </wsdl:input>
      <wsdl:output name="reservarSombrinhaResponse" message="tns:reservarSombrinhaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarSombrinhas">
      <wsdl:input name="listarSombrinhas" message="tns:listarSombrinhas">
    </wsdl:input>
      <wsdl:output name="listarSombrinhasResponse" message="tns:listarSombrinhasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServicesImpServiceSoapBinding" type="tns:SoapServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarSombrinha">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarSombrinha">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarSombrinhaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarReservas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarReservasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registarUtilizador">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registarUtilizador">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registarUtilizadorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarSombrinha">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reservarSombrinha">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reservarSombrinhaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarSombrinhas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarSombrinhas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarSombrinhasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapServicesImpService">
    <wsdl:port name="SoapServicesImpPort" binding="tns:SoapServicesImpServiceSoapBinding">
      <soap:address location="http://localhost:8080/CD_Project"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
