src/main/webapp/wsdl/soap_schema1.xsd

<xs:schema xmlns:tns="http://Soap.frontend/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Soap.frontend/" version="1.0">

  <xs:element name="addIntegers" type="tns:addIntegers"/>

  <xs:element name="addIntegersResponse" type="tns:addIntegersResponse"/>

  <xs:complexType name="addIntegers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addIntegersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
