src/main/webapp/wsdl/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapService" targetNamespace="http://Soap.frontend/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Soap.frontend/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://Soap.frontend/" version="1.0" xmlns:tns="http://Soap.frontend/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addIntegers" type="tns:addIntegers"/>

  <xs:element name="addIntegersResponse" type="tns:addIntegersResponse"/>

  <xs:complexType name="addIntegers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addIntegersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addIntegers">
    <wsdl:part name="parameters" element="tns:addIntegers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addIntegersResponse">
    <wsdl:part name="parameters" element="tns:addIntegersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Soap">
    <wsdl:operation name="addIntegers">
      <wsdl:input name="addIntegers" message="tns:addIntegers">
    </wsdl:input>
      <wsdl:output name="addIntegersResponse" message="tns:addIntegersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServiceSoapBinding" type="tns:Soap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addIntegers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addIntegers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addIntegersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapService">
    <wsdl:port name="SoapPort" binding="tns:SoapServiceSoapBinding">
      <soap:address location="http://localhost:8080/CD_Project"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
